@charset "UTF-8";
body {
  font-family: "Yu Mincho";
  height: 100%;
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
}

.errorMessage {
  color: #f00;
}

.mainContainer {
  width: calc(100% - 40px);
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.pageTitle {
  color: #666;
  font-size: 25px;
  font-weight: normal;
}

.nowrap {
  display: inline-block;
}

.header {
  height: 80px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 30px;
  width: calc(100% - 40px);
  max-width: 980px;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__navigation__indexLink {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 260px;
  line-height: 63px;
  text-align: center;
  font-size: 28px;
  background-color: #888;
}
.header__navigation__indexLink:visited {
  color: #fff;
}
.header__navigation__globalLink {
  display: flex;
  margin-left: 10px;
}
.header__navigation__globalLink__choices {
  text-decoration: none;
  color: #9E9764;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #999;
  text-align: center;
}
.header__navigation__globalLink__choices:first-child {
  border: none;
}
.header__whois {
  display: flex;
  align-items: center;
}
.header__whois__loginout {
  height: 25px;
  line-height: 25px;
  margin-left: 20px;
  text-decoration: none;
  background-color: #999;
  color: #fff;
  padding: 3px 10px;
  white-space: nowrap;
}
.header__whois__loginout:visited {
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .header__navigation__globalLink__choices {
    display: none;
  }
  .header__whois {
    display: none;
  }
}
.hamburger {
  display: none;
}

.globalMenuSp {
  display: none;
}

@media only screen and (max-width: 900px) {
  /* ハンバーガーボタン */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 25px;
    top: 15px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #888;
    -webkit-transition: 0.5s ease-in-out; /* chrome, safari */
    -moz-transition: 0.5s ease-in-out; /* firefox */
    transition: 0.5s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 14px;
  }
  .hamburger span:nth-child(2) {
    top: 24px;
  }
  .hamburger span:nth-child(3) {
    top: 34px;
  }
  /* ナビ開く時のアニメーション */
  .hamburger.active span:nth-child(1) {
    top: 23px;
    left: 6px;
    background: #888;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 23px;
    background: #888;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  /* ナビゲーション */
  .globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 80px;
    right: 0;
    width: 50%;
    height: 100%;
    color: #fff;
    background-color: #eee;
    opacity: 95%;
    font-size: 20px;
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  .globalMenuSp__header__whois {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .globalMenuSp__loginout {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #999;
    color: #fff;
    white-space: nowrap;
  }
  .globalMenuSp__loginout:visited {
    color: #fff;
  }
  .globalMenuSp__welcome {
    color: #444;
    text-align: center;
    padding-top: 20px;
  }
  .globalMenuSp ul {
    margin: 0 auto;
    width: 100%;
  }
  .hamburger__li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: 0.4s all;
  }
  .hamburger__li:last-child {
    padding-bottom: 0;
  }
  .hamburger__li:hover {
    width: 100%;
    background: rgba(207, 207, 210, 0.6823529412);
  }
  .hamburger__li a {
    display: block;
    color: #888;
    padding: 1em 0;
    text-decoration: none;
  }
  /* このクラスを、jQueryで付与・削除する */
  .globalMenuSp.active {
    display: block;
  }
}
.itemDetail__head {
  display: flex;
  align-items: center;
}

.itemDetail__headImage {
  max-width: 100%;
}

.itemDetail__description {
  font-size: 14px;
}

.itemDetail__title {
  color: #666;
  font-size: 25px;
  font-weight: normal;
  border-bottom: 1px solid #c0c0c0;
}

.itemDetail__headInfo {
  max-width: 50%;
}

.itemDetail__image {
  width: 100%;
}

.itemDetail__tags {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}

.itemDetail__tagList {
  margin-right: 20px;
  font-size: 14px;
  margin-bottom: 3px;
}

.itemDetail__tagLink {
  text-decoration: none;
  color: #000;
}

.itemDetail__tagLink:hover {
  color: rgb(175, 175, 175);
}

.itemDetail__commentline {
  border-bottom: 1px dotted #999;
}

.itemDetail__commentName {
  margin-bottom: 15px;
}

.itemDetail__commentForm {
  width: 100%;
}

.itemDetail__commentButton {
  margin-top: 10px;
}

.itemDetail__commenter {
  border-bottom: 1px dotted #999;
}

.itemDetail__comment {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px dotted #999;
  width: 500px;
}

.itemDetail__commentDate {
  padding-left: 20px;
  border-bottom: 1px dotted #999;
}

.itemRegistForm {
  width: 50%;
}

.itemDescriptionForm {
  height: 100px;
}

.itemTitleForm {
  height: 20px;
}

.tagSelectCaption {
  font-size: 13px;
}

.formLabel__span {
  font-size: 12px;
  color: #f00;
}

.formContent {
  margin-bottom: 20px;
}

.formLabel {
  display: inline-block;
  padding-bottom: 2px;
}

.registFormContent {
  width: 100%;
}

.registButton {
  margin-top: 30px;
  background-color: #888;
  color: #fff;
  box-shadow: none;
  border: none;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  font-family: "Yu Mincho";
  font-weight: bold;
  font-size: 15px;
  width: 250px;
  height: 40px;
}
.registButton:hover {
  background-color: #999;
}

.itemEditerForm {
  margin-top: 40px;
}
.itemEditerForm__tagBox {
  margin-bottom: 5px;
}
.itemEditerForm__tagBox__tag {
  font-size: 15px;
}
.itemEditerForm__release {
  margin-top: 30px;
}
.itemEditerForm__release__title {
  margin-bottom: 5px;
}

.index__listWrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.index__listWrap li + li {
  margin-left: 10px;
}

.index__listWrap li {
  width: calc(33.3333333333% - 20px);
  margin-top: 10px;
}

.index__listWrap li:nth-child(3n+1) {
  margin-left: 0;
}

.index__listWrap__img {
  width: 100%;
}

.card {
  width: 100%;
  display: flex;
  position: relative;
}

.thumbnailTitle {
  color: #fff;
  font-size: 12px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 20px;
}

@media (max-width: 768px) {
  .index__listWrap {
    display: block;
  }
  .index__listWrap li {
    width: 100%;
    margin-top: 10px;
  }
  .index__listWrap li + li {
    margin-left: 0px;
  }
}
.loginForm {
  width: 300px;
}

.loginFormContent {
  width: 100%;
}

.loginForm .loginButton__wrapper {
  text-align: center;
}

.loginButton {
  margin-top: 20px;
  background-color: #EEEEEE;
  color: #888;
  box-shadow: none;
  border: none;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  font-family: "Yu Mincho";
  font-weight: bold;
  font-size: 15px;
  width: 250px;
  height: 32px;
  margin-bottom: 10px;
}

.loginButton:hover {
  background-color: #999;
  color: #fff;
}

.memberRegistButton {
  text-decoration: none;
  color: #888;
  font-size: 15px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.memberRegistButton:hover {
  color: #00bfff;
}

.passResetLink {
  text-decoration: none;
  color: #888;
  font-size: 12px;
  width: 100%;
  text-align: right;
  display: inline-block;
}

.passResetLink:hover {
  color: #00bfff;
}

.tagRegistForm {
  width: 200px;
}

.tagList__link {
  text-decoration: none;
  color: #000;
}

.tagList__link:hover {
  border-bottom: 1px solid #000;
}/*# sourceMappingURL=style.css.map */